.paragraph{
    position: absolute;
    left: 2.5rem;
    right: 67.37%;
    bottom: 18.38%;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.paragraph .processDescFirst{
    color: #83dc79;
}
.processHeaderImage{
    overflow:hidden;
    position: sticky;
    top: -27rem;
    z-index: 0;
    opacity: 0.3;
    height: 378px;
}
.scrumboard_image{
    position: absolute;
    left: 43%;
    right: 6%;
    top: 20%;
    bottom: 67.39%;
    opacity: 0.75;
    width:55%;
    border-radius: 10px;
}
.header_title{
    position: absolute;
    z-index: 1;
    bottom:58%;
}
.headerContainer{
   min-height:670px !important;  
}
.processTitleFirst{
    border-bottom: 3px solid #fff;
}
@media screen and (max-width:1024px){
    .step3Boxes{
        padding:20px 52px !important;
    } 
    .headerContainer{
        min-height:500px !important;
     }
}    
@media screen and (max-width:900px){
    .processHeaderImage{
        width:1530px;
        height:430px;
        overflow: hidden !important;
      }
    
    .header_title{
        bottom:0;
        top:15%;
    }
    .paragraph{
        position: absolute;
        right: 2.5rem;
        bottom: 3%;
    }
    .scrumboard_image{
        position: absolute;
        left: 0.6rem;
        right: 2rem;
        top: 21%;
        bottom: 0;
        width:97%;
    } 
    .headerContainer{
        min-height:790px !important;
        overflow: hidden !important;
     }  
    
     .processHeaderImage{
        position: sticky;
        top: -5rem;
        z-index: 0;
    }
}
@media screen and (max-width:768px){
    .processHeaderImage{
        width:1560px;
    }
    .scrumboard_image{
        top:23%;
    } 
    .headerContainer{
        min-height:860px !important;
     } 
}
@media screen and (max-width:740px){
    .processHeaderImage{
        width:1425px;
      }   
    .headerContainer{
        min-height:750px !important;
     } 
}
@media screen and (max-width:675px){
    .processHeaderImage{
        width:1350px;
      } 
    .scrumboard_image{
        top: 24%;
    } 
    .headerContainer{
        min-height:720px !important;
     }
}
@media screen and (max-width:650px){
    .processHeaderImage{
        width:1300px;
      }
    .headerContainer{
        min-height:700px !important;
     }
}    
@media screen and (max-width:570px){
    .processHeaderImage{
        width:1160px;
      }
    .headerContainer{
        min-height:630px !important;
     }
}
@media screen and (max-width:420px){
    .processHeaderImage{
      width:1025px;
      height:430px;
      overflow: hidden !important;
    } 
    .header_title{
        top:16%;
    } 
    .scrumboard_image{
        left: 1.5rem;
        top: 30%;
        width:86%;
    } 
    .headerContainer{
        min-height:570px !important;
        overflow: hidden;
    } 
}
@media screen and (max-width:360px){
    .processHeaderImage{
        width:985px;
      }
}
@media screen and (max-width:320px){
    .processHeaderImage{
        width:960px;
      }      
    .headerContainer{
        min-height:590px !important;
    }
}
