/*Montserrat Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       /* font: inherit;
       vertical-align: baseline; */
   }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.MuiStepper-root{
    padding: 0 24px !important;
}
.MuiStepLabel-iconContainer{
    background-image: url('../public/assets/process/details/Purple\ Expanding\ Circle.svg');
    background-repeat: no-repeat;
    display:block !important;
    height: 84.08999633789062px;
    width: 84.08999633789062px;
    left: 51.45500183105469px;
    top: 591px;
    border-radius: 0px;
}
.MuiStepIcon-root{
    display:none !important;
}
.MuiStepLabel-root{
    width:25% !important;
}
.MuiStepContent-root {
    padding-right: 21px;
    padding-left: 0px !important;
    margin-top: 8px !important;
    border-left: 2px solid #805da7 !important;
    margin-left: 40px !important;
}    
.MuiStepConnector-vertical{
    margin-bottom: 8px !important;
    border-left: 2px solid #805da7 !important;
    overflow: hidden !important;
} 
.MuiStepConnector-line {
    display: none !important;
    border-color: none !important;
}
.MuiStepLabel-labelContainer,.MuiStepLabel-label.MuiStepLabel-active {
    padding-left: 5px !important;
    color: #C6C6C6 !important;
}
.paragraph{
    position: absolute;
    left: 2.5rem;
    right: 67.37%;
    bottom: 18.38%;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.paragraph .processDescFirst{
    color: #83dc79;
}
.processHeaderImage{
    overflow:hidden;
    position: sticky;
    top: -27rem;
    z-index: 0;
    opacity: 0.3;
    height: 378px;
}
.scrumboard_image{
    position: absolute;
    left: 43%;
    right: 6%;
    top: 20%;
    bottom: 67.39%;
    opacity: 0.75;
    width:55%;
    border-radius: 10px;
}
.header_title{
    position: absolute;
    z-index: 1;
    bottom:58%;
}
.process_footer{
    padding-left:64px;
}
.footerDescription{
  margin:0 24rem;
}
.headerContainer{
   min-height:670px !important;  
}
.MuiStepConnector-vertical {
    padding:0 !important;
}
.processTitleFirst{
    border-bottom: 3px solid #fff;
}
.developementStepImg{
    margin-left: -2%;
}
@media screen and (max-width:1024px){
    .headerContainer{
        min-height:500px !important;
     }
    .paragraph{
        bottom: 8.38%;
    }
    .footerDescription{
        margin:0 16rem;
    }
}    
@media screen and (max-width:900px){
    .footerDescription{
        margin:0 9.5rem;
    }
    .MuiStepper-root{
        padding: 5px  24px 0px 24px !important;
    }
    .MuiStepLabel-root{
        width:45% !important;
    }
    .header_title{
        bottom:0;
        top:15%;
    }
    .paragraph{
        position: absolute;
        right: 2.5rem;
        bottom: 0;
        top: 30%;
    }
    .scrumboard_image{
        position: absolute;
        left: 1.5rem;
        right: 2.5rem;
        top: 39%;
        bottom: 0;
        width:95%;
    } 
    .headerContainer{
        min-height:890px !important;
     }  
    
     .processHeaderImage{
        position: sticky;
        top: -5rem;
        z-index: 0;
    }
    .developementStepImg{
        margin-left: 0;
    }
}
@media screen and (max-width:768px){
    .MuiStepLabel-root{
        width:50% !important;
    }
    .footerDescription{
        margin:0 6.5rem;
    }
    .paragraph{
        top: 28%;
    }
    .scrumboard_image{
        width:93%;
    } 
    .headerContainer{
        min-height:860px !important;
     } 
}
@media screen and (max-width:740px){ 
    .paragraph{
        top: 30%;
    }   
    .headerContainer{
        min-height:750px !important;
     } 
}
@media screen and (max-width:670px){
    .footerDescription{
        margin:0 4.5rem;
    } 
    .scrumboard_image{
        top: 42%;
    } 
    .headerContainer{
        min-height:720px !important;
     }
     .developementStepImg{
        margin-left: 1%;
    }
}
@media screen and (max-width:650px){
    .MuiStepLabel-root{
        width:58% !important;
    }
    .scrumboard_image{
        width: 92%;
    } 
    .footerDescription{
        margin:0 3.5rem;
    }
    .headerContainer{
        min-height:700px !important;
     }
}    
@media screen and (max-width:570px){
    .footerDescription{
        margin:0 1.5rem;
    }
    .paragraph{
        top: 27%;
    } 
    .scrumboard_image{
        top: 42%;
    } 
    .headerContainer{
        min-height:630px !important;
     }
    .developementStepImg{
        margin-left: -2.5%;
    }
}
@media screen and (max-width:420px){
    .processHeaderImage{
      width:600px;
      height:430px;
      overflow: hidden !important;
    } 
    .header_title{
        top:16%;
    }  
    .MuiStepLabel-root{
        width:90% !important;
    }
    .footerDescription{
        margin:0 20px;
    }
    .paragraph{
        top: 34%;
    } 
    .scrumboard_image{
        top: 55%;
        width:86%;
    } 
    .headerContainer{
        min-height:570px !important;
        overflow: hidden;
    } 
    nav a{
        margin:0px !important;
    }
    .developementStepImg{
        margin-left: -1.5%;
    }
}
@media screen and (max-width:360px){
    .MuiStepLabel-root{
        width:100% !important;
    }
    .scrumboard_image{
        top: 60%;        
    } 
}
@media screen and (max-width:320px){    
    .paragraph{
        top: 33%;
    } 
    .scrumboard_image{
        top: 65%;
    } 
    .headerContainer{
        min-height:590px !important;
    } 
    nav{
        padding:1rem 5px !important;
    }
    .developementStepImg{
        margin-left: -0.5%;
    }
}





